html{
    scroll-behavior: smooth;
}
body{
    font-family: "Trirong", serif;
    background-color: rgb(22, 19, 19);
    color: white;
}

header{
    border: 2px solid red;
    
}
ul,li,ol,a{
    text-decoration: none;
    list-style-type: none;
    color: white;

}

ul{
    display: flex;
    justify-content: space-evenly;
}

ol{
    display: flex;
    justify-content: space-evenly;
}

section{


margin-bottom: 4%;
padding: 5%;
 text-align: center;
 border: 2px solid white;
}

img{
    height: 500px;
    width: 550px;
}
footer{
    text-align: center;
    border: 2px solid white;
    margin-bottom: 2%;
    padding: 1%;
}